{% assign authors = "" | split: "," %}
{% if include.post.author %}
  {% assign authors = authors | push: include.post.author %}
{% endif %}
{% if include.post.authors %}
  {% assign authors = authors | concat: include.post.authors %}
{% endif %}
{% assign num_authors = authors | size %}

<span class="authors">
  {% for author in authors %}
    <span class="author">
      {% if author.name %}
        {% include post-author-pic.html author=author %}
        <span class="author-name">{{ author.name }}</span>
      {% endif %}
    </span>
  {% endfor %}
</span>

<span class="date">
  {% if num_authors > 0 %}on {% endif %}
  {{ include.post.date | date_to_string }}
</span>
