<section class="specs">
  <h2 class="title">
    Specification{% if site.num_all_specs > 1 %}s{% endif %}
    {% if site.num_all_specs > site.num_featured_specs %}
      — <a href="/specs/">see all</a>
    {% endif %}
  </h2>
  <div class="items">
    {% assign specs = site.featured_specs %}
    {% for item in specs | limit: site.max_featured_specs %}
      {% assign url = item.url %}
      {% assign item_data = site.specs | where_exp: "item", "item.url == url" | first %}

      <div class="item" role="article">
        <header>
          <h3 class="title"><a href="{{ item.url }}">{{ item.title }}</a></h3>
        </header>

        <p class="body">
          {{ item.description }}
        </p>

        <div class="external-links">
          <ul class="nav-items">
            {% include item-external-links.html item_data=item_data %}
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
