<section class="software">
  {% unless site.prexian.one_software %}
    <h2 class="title">
      Software
      {% if site.prexian.num_all_software > site.prexian.num_featured_software %}
        — <a href="/software/">see all</a>
      {% endif %}
    </h2>
  {% endunless %}

  <div class="items">
    {% assign software = site.prexian.featured_software %}
    {% for item in software | limit: site.prexian.max_featured_software %}
      {% assign url = item.url %}
      {% assign item_docs = site.prexian.software | where_exp: "item", "item.url contains url" %}
      {% assign item_data = site.prexian.software | where_exp: "item", "item.url == url" | first %}
      {% assign nav = item_docs | where_exp: "item", "item.path contains 'docs/navigation'" | first %}

      <div class="item" role="article">
        {% unless site.prexian.one_software %}
          <header>
            <div class="logo-container">
              {% include software-symbol.html item_id=item.id %}
            </div>

            <h3 class="title"><a href="{{ item.url }}">{{ item.title }}</a></h3>
          </header>

          <p class="body">
            {{ item.description }}
          </p>
        {% endunless %}

        {% assign top_level_nav_item_with_path = nav.items | where_exp: "item", "item.path" | first %}
        {% if nav and top_level_nav_item_with_path %}
          <div class="docs-nav">
            {% assign docs_base_url = item.url | append: "docs/" %}
            {% assign nav_items = nav.items | slice: 0, 3 %}
            <ul class="nav-items">
              {% for nav_item in nav_items %}
                {% include _nav-item.html item=nav_item base_url=docs_base_url top_level_only=true %}
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        <div class="external-links">
          <ul class="nav-items">
            {% include item-external-links.html item_data=item_data %}
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
