{% assign num_software = site.num_all_software %}
{% assign num_specs = site.num_all_specs %}
{% assign num_posts = site.num_posts_combined %}

{% assign num_posts_specs = num_posts | plus: num_featured_specs %}

{% if num_posts > 0 %}
  {% include featured_posts.html %}
{% endif %}

{% if num_software_specs > 0 %}
  <div class="underlay top-background">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
      <polygon fill="white" points="0,0 100,0 100,60 0,100"/>
    </svg>

    {% if num_software > 0 %}
      {% include featured_software.html %}
    {% endif %}

    {% if num_specs > 0 %}
      {% include featured_specs.html %}
    {% endif %}
  </div>
{% endif %}
