<div class="text">
  <h1 class="title">{{ site.tagline }}</h1>
  <p class="desc">{{ site.pitch | safe }}</p>

  <div class="cta">
    {% if site.is_hub %}
      <a class="button" href="{{ "/projects/" | relative_url }}">
        <i class="icon far fa-search"></i>
        Explore Projects
      </a>
    {% else if %}
      {% assign ctas = site.home_calls_to_action | slice: 0, 2 %}

      {% for link in ctas %}
        <a class="button" href="{{ link.url | relative_url }}">
          {{ link.title }}
        </a>
      {% endfor %}
    {% endif %}
  </div>
</div>
