<div role="presentation" class="text">
  <h1 class="title">{{ site.tagline }}</h1>
  <p class="desc">{{ site.pitch | safe }}</p>

  <div class="cta" role="presentation">
    {% if site.is_hub %}
      <a class="button" href="{{ "/projects/" | relative_url }}">
        <i class="icon far fa-search"></i>
        Explore Projects
      </a>
    {% else if %}
      <a class="button" href="{{ site.get_started_url | relative_url }}">
        Get Started
      </a>
    {% endif %}
  </div>

  {% if site.parent_hub %}
    <div class="parent-hub-plug" role="presentation">
      <span class="label">A project done by</span>
      <a class="logo" role="presentation" href="{{ site.parent_hub.home_url }}">
        {% include parent-hub/assets/symbol.svg %}&nbsp;<span class="title">{% include parent-hub/title.html %}</span>
      </a>
    </div>
  {% endif %}
</div>
