{% capture rawtags %}{% for doc in include.items %}{% for tag in doc.tags %}{{ tag }} {% endfor %}{% endfor %}{% endcapture %}

{% assign tags = rawtags | split: " " | uniq %}
{% assign num_tags = tags | size %}

{% if num_tags > 0 %}
  <nav class="item-filter">
    <ul class="tags">
      <li>
        {% if include.tag %}
          <a href="{{ include.url_tag_prefix }}">All</a>
        {% else %}
          <span>All</span>
        {% endif %}
      </li>

      {% for tag in tags %}
        {% assign tag_human = tag | replace: "_", " " %}
        <li>
          {% if tag == include.tag %}
            <span>{{ tag_human }}</span>
          {% else %}
            <a href="{{ include.url_tag_prefix }}{{ tag }}">{{ tag_human }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endif %}
