{% comment %}
This page conforms to the structure introduced by docs-base layout,
supporting expandable navigation widget.
{% endcomment %}

{% assign product_base_url = page.url | split: "/" | slice: 0, 3 | join: "/" | append: "/" %}
{% assign docs_base_url = product_base_url | append: "docs/" %}

{% if page.url == product_base_url %}
  {% assign is_docs_landing = true %}
{% else %}
  {% assign is_docs_landing = false %}
{% endif %}

{% assign docs_base_url = product_base_url | append: "docs/" %} 
{% assign item_docs = include.items | where_exp: "item", "item.url contains docs_base_url" %}
{% assign nav = item_docs | where_exp: "item", "item.path contains 'docs/navigation'" | first %}
{% assign num_top_nav_items = nav.items | size %}
{% assign item_data = include.items | where_exp: "item", "item.url == product_base_url" | first %}

{% if nav == nil %}
  {% assign nav = page.navigation || layout.navigation %}
{% endif %}

{% if is_docs_landing != true %}
  <header class="documentation-header {% if num_top_nav_items > 0 %} has-nav {% endif %}">
    <span class="section-title">
      {{ page.title|replace: " ", "&nbsp;" }}
    </span>

    <div class="nav-header">
      {% if include.item_type == 'software' %}
        <div class="logo-container">
          {% include software-symbol.html item_id=page.id %}
        </div>
      {% endif %}

      <h3 class="title">
        <a href="javascript: void 0;">{{ item_data.title }}</a>
      </h3>

      {% if num_top_nav_items > 0 %}
        <span class="nav-toggle-icon">
          <i class="open far fa-ellipsis-v"></i>
          <i class="close far fa-times"></i>
        </span>
      {% endif %}
    </div>
  </header>
{% endif %}

<section class="documentation {% if is_docs_landing %}docs-landing{% endif %} {{ include.item_type }}">

  {% if is_docs_landing == false %}
    <nav class="docs-nav">
      <ul class="nav-items">

        <li class="item external-links">
          <ul class="nav-items">
            <li class="item home-link" title="Documentation index">
              <a href="{{ product_base_url | relative_url }}">
                <span class="ico">
                  <i class="far fa-home"></i>
                </span>
                <span class="lbl">
                  Home
                </span>
              </a>
            </li>
            {% include item-external-links.html item_type=include.item_type item_data=item_data %}
          </ul>
        </li>

        {% for item in nav.items %}
          {% include _nav-item.html item=item base_url=docs_base_url %}
        {% endfor %}

      </ul>
    </nav>
  {% endif %}

  <article>
    <header>
      <div class="title">
        {% if include.item_type == 'software' and page.url == product_base_url %}
          <div class="logo-container">
            {% include software-symbol.html item_id=page.id %}
          </div>
        {% endif %}

        <h1 class="text">{{ page.article_header_title | default: page.title }}</h1>
      </div>

      {% if is_docs_landing == false and item_data.docs.git_repo_url %}
        <nav>
          <button class="docs-nav-toggle">Toggle table of contents</button>
          <a href="{{ item_data.docs.git_repo_url }}/edit/master/docs/{{ page.path | split: "/" | last }}" class="docs-suggest-edits">Suggest edits to this page</a>
        </nav>
      {% endif %}

      <div>
        <h3 class="lead">{{ page.description }}</h3>
      </div>

      {% if is_docs_landing %}
        <div class="external-links">
          <ul class="nav-items">
            {% include item-external-links.html item_type=include.item_type item_data=item_data %}
          </ul>
        </div>
      {% endif %}
    </header>

    <div class="body">
      {{ content }}
    </div>

    {% assign nav_size = nav.items | size %}
    {% if is_docs_landing and nav_size > 0 %}
      <ul class="nav-items">
        {% for item in nav.items %}
          {% include _nav-item.html item=item base_url=docs_base_url %}
        {% endfor %}
      </ul>
    {% endif %}

  </article>
</section>
