{% assign product_base_url = page.url | split: "/" | slice: 0, 3 | join: "/" | append: "/" %}
{% if page.url == product_base_url %}
  {% assign is_docs_landing = true %}
{% else %}
  {% assign is_docs_landing = false %}
{% endif %}

<section class="documentation {% if is_docs_landing %}docs-landing{% endif %}">
  {% assign docs_base_url = product_base_url | append: "docs/" %} 
  {% assign item_docs = include.items | where_exp: "item", "item.url contains docs_base_url" %}
  {% assign nav = item_docs | where_exp: "item", "item.path contains 'docs/navigation'" | first %}

  {% if nav == nil %}
    {% assign nav = page.navigation %}
  {% endif %}

  {% assign num_nav_sections = nav.sections | size %}

  {% assign item_data = include.items | where_exp: "item", "item.url == product_base_url" | first %}

  <nav class="docs-nav">

    {% if is_docs_landing == false %}
      <header class="sidebar-header">
        {% if include.item_type == 'software' %}
          <div class="logo-container">
            {% include software-symbol.html item_id=page.id %}
          </div>
        {% endif %}
        <h3 class="title">
          <a href="{{ product_base_url | relative_url }}">{{ item_data.title }}</a>
        </h3>
      </header>

      <section class="external-links">
        {% include item-external-links.html item_type=include.item_type item_data=item_data %}
      </section>

    {% elsif num_nav_sections > 0 and include.item_type == 'software' %}
      <header class="sidebar-header">
        <h3 class="title">
          Documentation
        </h3>
      </header>
    {% endif %}

    {% for section in nav.sections %}
      <section>
        <h4 class="section-title">{{ section.name }}</h4>
        <ul class="section-items">
          {% for item in section.items %}
            {% if item.path %}
              {% comment %}Spec contents{% endcomment %}
              {% assign item_path = item.path %}
              {% assign link = product_base_url | append: item_path | append: "/" %}
            {% else %}
              {% comment %}Software docs{% endcomment %}
              {% assign item_path = item %}
              {% assign link = docs_base_url | append: item_path | append: "/" %}
            {% endif %}

            {% assign linked_page = include.items | where_exp: "item", "item.url contains link" | first %}

            {% if item.title %}
              {% assign item_title = item.title %}
            {% elsif item.ignore_missing != true %}
              {% assign item_title = linked_page.title %}
            {% endif %}

            {% if linked_page or item.ignore_missing %}
              {% if page.url != link %}
                <li class="item">
                  <a href="{{ link | relative_url }}">
                    {{ item_title }}
                  </a>
              {% else %}
                <li class="item selected">
                  <span>
                    {{ item_title }}
                  </span>
              {% endif %}
            {% else %}
              <li class="item">
                <span class="tbd">
                  {% if item.title %}
                    {{ item.title }}
                  {% else %}
                    {{ item }}
                  {% endif %}
                </span>
            {% endif %}

            {% assign link = "" %}
          {% endfor %}
        </ul>
      </section>
    {% endfor %}
  </nav>

  <article>
    <header>
      <div class="title">
        {% if include.item_type == 'software' and page.url == product_base_url %}
          <div class="logo-container">
            {% include software-symbol.html item_id=page.id %}
          </div>
        {% endif %}

        <h1 class="text">{{ page.title }}</h1>
      </div>

      {% if is_docs_landing == false and item_data.docs.git_repo_url %}
        <nav>
          <button class="docs-nav-toggle">Show table of contents</button>
          <a href="{{ item_data.docs.git_repo_url }}/edit/master/docs/{{ page.path | split: "/" | last }}" class="docs-suggest-edits">Suggest edits to this page</a>
        </nav>
      {% endif %}

      <div>
        <h3 class="lead">{{ page.description }}</h3>
      </div>

      {% if is_docs_landing %}
        <div class="external-links">
          {% include item-external-links.html item_type=include.item_type item_data=item_data %}
        </div>
      {% endif %}
    </header>

    <div class="body">
      {{ content }}
    </div>

    {% if is_docs_landing == false and item_data.docs.git_repo_url %}
    <footer>
      <nav>
        <button class="docs-nav-toggle">Show table of contents</button>
        <a href="{{ item_data.docs.git_repo_url }}/edit/master/docs/{{ page.path | split: "/" | last }}" class="docs-suggest-edits">Suggest edits to this page</a>
      </nav>
    </footer>
    {% endif %}

  </article>
</section>
