<span class="copyright">
  <span class="copyright-head">Copyright © {{ site.time | date: '%Y' }} {{ site.prexian.legal.name }} —</span>
  <span class="copyright-tail">All rights reserved.</span>
</span>

{% if site.prexian.legal.privacy_policy_link or site.prexian.legal.tos_link %}
  <nav aria-label="legal links">
    {% if site.prexian.legal.tos_link %}
      <a href="{{ site.prexian.legal.tos_link }}">Terms of Service</a>
    {% endif %}
    {% if site.prexian.legal.privacy_policy_link %}
      <a href="{{ site.prexian.legal.privacy_policy_link }}">Privacy Policy</a>
    {% endif %}
    {% if site.prexian.legal.security_advisories_link %}
      <a href="{{ site.prexian.legal.security_advisories_link }}">Advisories</a>
    {% endif %}
    {% if site.prexian.legal.disclosure_policy_link %}
      <a href="{{ site.prexian.legal.disclosure_policy_link }}">Disclosure policy</a>
    {% endif %}
    {% if site.prexian.legal.security_feedback_link %}
      <a href="{{ site.prexian.legal.security_feedback_link }}">Security feedback</a>
    {% endif %}
  </nav>
{% endif %}
