{% assign contact_link = "mailto:" | append: site.prexian.contact_email %}

{% if site.prexian.algolia_search %}
  <div class="search-widget">
    <input type="search" id="siteSearchInput" placeholder="Type to search…">
  </div>
{% endif %}

{% if site.prexian.site_type == "hub" %}
  {% include nav-page-link.html htmlclass="projects" url="/projects/" title="Projects" %}

  {% if site.prexian.num_all_software > 0 %}
    {% include nav-page-link.html htmlclass="software" url="/software/" title="Software" active_for_nested=true %}
  {% endif %}
  {% if site.prexian.num_all_specs > 0 %}
    {% include nav-page-link.html htmlclass="specs" url="/specs/" title="Specifications" active_for_nested=true %}
  {% endif %}
  {% if site.prexian.num_posts_combined > 0 %}
    {% include nav-page-link.html htmlclass="blog" url="/blog/" title="Blog" active_for_nested=true %}
  {% endif %}

{% else %}

  {% if site.prexian.one_software %}
    {% include nav-page-link.html htmlclass="docs" url=site.prexian.one_software.url title="Docs" active_for_nested=true %}
  {% else %}
    {% if site.prexian.num_all_software > 0 %}
      {% include nav-page-link.html htmlclass="software" url="/software/" title="Software" active_for_nested=true %}
    {% endif %}
  {% endif %}

  {% if site.prexian.num_all_specs > 0 %}
    {% include nav-page-link.html htmlclass="specs" url="/specs/" title="Specifications" active_for_nested=true %}
  {% endif %}

  {% include project-nav.html %}

  {% if site.prexian.num_posts_combined > 0 %}
    {% include nav-page-link.html htmlclass="blog" url="/blog/" title="Blog" active_for_nested=true %}
  {% endif %}
{% endif %}

{% if site.prexian.algolia_search %}
  <a href="javascript: void 0;" class="search"><i class="fas fa-search"></i></a>
{% endif %}
