{% include nav-page-link.html url="/" title="Home" %}
{% assign contact_link = "mailto:" | append: site.contact_email %}

{% if site.is_hub %}
  {% include nav-page-link.html url="/projects/" title="Projects" %}

  {% if site.num_all_software > 0 %}
    {% include nav-page-link.html url="/software/" title="All Software" active_for_nested=true %}
  {% endif %}
  {% if site.num_all_specs > 0 %}
    {% include nav-page-link.html url="/specs/" title="All Specifications" active_for_nested=true %}
  {% endif %}
  {% if site.num_posts_combined > 0 %}
    {% include nav-page-link.html url="/blog/" title="Blog" active_for_nested=true %}
  {% endif %}

{% else %}

  {% if site.algolia_search %}
    <div class="search-widget">
      <input type="search" id="siteSearchInput">
    </div>
  {% endif %}

  {% if site.num_all_software > 0 %}
    {% include nav-page-link.html url="/software/" title="Software ecosystem" active_for_nested=true %}
  {% endif %}
  {% if site.num_all_specs > 0 %}
    {% include nav-page-link.html url="/specs/" title="Specifications" active_for_nested=true %}
  {% endif %}

  {% include project-nav.html %}

  {% if site.num_posts_combined > 0 %}
    {% include nav-page-link.html url="/blog/" title="Blog" active_for_nested=true %}
  {% endif %}

  {% if site.algolia_search %}
    <a href="javascript: void 0;" class="search"><i class="fas fa-search"></i></a>
  {% endif %}
{% endif %}
