<a class="item {% if include.post.parent_project %}has-parent-project{% endif %}"
  href="
    {% if include.post.parent_project %}
      {{ include.post.parent_project.home_url }}blog/{{ include.post.date | date: "%m-%d-%Y" }}/{{ include.post.slug }}/
    {% else %}
      {{ include.post.url }}
    {% endif %}
  " role="article">

  {% if include.post.parent_project == nil and site.is_hub == true %}
    <div class="hub-symbol">
      {% include assets/symbol.svg %}
    </div>
  {% endif %}

  <header>
    {% if include.post.parent_project %}
      {% assign project_symbol_path = include.post.parent_project.name | append: "/assets/symbol.svg" %}
      {% assign relative_symbol_path = "/projects/" | append: project_symbol_path %}
      <div class="parent-project">
        <div class="project-logo">
          <img src="{{ relative_symbol_path }}">
        </div>
        <h4 class="project-title">{{ include.post.parent_project.title }}</h4>
        <div class="external-link-icon">
          <img src="{{ "assets/img/external-link.svg" | relative_url }}">
        </div>
      </div>
    {% endif %}
    <h3 class="title">{{ include.post.title }}</h3>
  </header>

  <p class="body">
    {{ include.post.excerpt | remove: '<p>' | remove: '</p>' | remove: '<div class="presentation">' | remove: '</div>' }}
  </p>

  <footer class="meta">
    {% if include.post.author.name %}
      {% if include.post.author.email %}
        <span class="author-avatar">
          <img src="https://gravatar.com/avatar/{{ include.post.author.email }}?s=32">
        </span>
      {% endif %}
      <span class="author-name">
        {{ include.post.author.name }}
      </span>
    {% endif %}
    <span class="date">
      {% if include.post.author.name %}on {% endif %}
      {{ include.post.date | date_to_string }}
    </span>
  </footer>

</a>
