{% assign nav = page.navigation | default: layout.navigation %}
{% assign num_nav_sections = nav.sections | size %}

{% for item in nav.items %}
  {% if page.url == item.path %}
    {% assign selected_item = item %}
  {% endif %}

  {% if item.items %}
    {% for item in item.items %}
        {% if page.url == item.path %}
          {% assign selected_item = item %}
        {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}

<section class="documentation {{ page.html-class }}">
  <nav class="docs-nav">
    <header class="sidebar-header">
      <h3 class="title">
        <a href="javascript: void 0;">
          {{ include.header_main }}: {{ selected_section.name }}
        </a>
      </h3>

      {% if include.header_side %}
      <span class="section-title">
        &rarr;&nbsp;{{ include.header_side|replace: " ", "&nbsp;" }}
      </span>
      {% endif %}
    </header>

    <ul class="nav-items">
      {% for item in nav.items %}
        {% include _nav-item.html selected_item=selected_item item=item %}
      {% endfor %}
    </ul>
  </nav>

  <article>
    <header>
      <div class="title">
        <h1 class="text">{{ page.article_header_title | default: page.title }}</h1>
      </div>

      <div>
        <h3 class="lead">{{ page.description }}</h3>
      </div>
    </header>

    <div class="body">
      {{ content }}
    </div>

  </article>
</section>
