{% if site.social.links %}
  <aside class="social-links">
    {% for link in site.social.links %}
      {% if link contains "twitter.com" %}
        <a href="{{ link }}" aria-label="Twitter link">
          <i class="fab fa-twitter"></i>
        </a>
      {% elsif link contains "github.com" %}
        <a href="{{ link }}" aria-label="Github link">
          <i class="fab fa-github"></i>
        </a>
      {% elsif link contains "facebook.com" %}
        <a href="{{ link }}" aria-label="Facebook link">
          <i class="fab fa-facebook"></i>
        </a>
      {% elsif link contains "linkedin.com" %}
        <a href="{{ link }}" aria-label="LinkedIn link">
          <i class="fab fa-linkedin"></i>
        </a>
      {% endif %}
    {% endfor %}
  </aside>
{% endif %}
