$font-family: Helvetica, Arial, sans-serif !default;

$main-font-color: #000;

$primary-color: lightblue !default;
$primary-dark-color: navy !default;
$accent-color: red !default;

$header-background: $primary-dark-color !default;
$hero-background: $primary-dark-color !default;
$superhero-background: $primary-dark-color !default;

$hub-software--primary-color: lightsalmon !default;
$hub-software--primary-dark-color: tomato !default;
$hub-software--hero-background: $hub-software--primary-dark-color !default;

$hub-specs--primary-color: lightpink !default;
$hub-specs--primary-dark-color: palevioletred !default;
$hub-specs--hero-background: $hub-specs--primary-dark-color !default;

$gutter: 30px;
$featured-cols: 3;
$featured-cols-narrow: 2;
$grid-cols: 4;

$widescreen-breakpoint: 1140px + $gutter * 2;
$bigscreen-breakpoint: 900px + $gutter * 2;


@import "open-project-base";
@import "open-project-header-footer";
@import "headroom";


main {

  /* Generic */

  .layout--home > & {
    > .underlay {
      > svg {
        display: none;
      }
      @media screen and (min-width: $bigscreen-breakpoint) {
        position: relative;

        > * {
          z-index: 1;
        }
        > svg {
          display: block;
          z-index: 0;
          position: absolute;
        }

        // Top section(s) background
        &.top-background {
          padding-bottom: 80px;
          background-color: #F7F7F7;

          > svg {
            top: 0;
            width: 100%;
            height: 35vw;
          }
        }
      }
    }

    > .underlay, > section {
      &:last-child {
        padding-bottom: 50px;
        @media screen and (min-width: $bigscreen-breakpoint) {
          padding-bottom: 100px;
        }
      }
      &:only-child {
        @media screen and (min-width: $bigscreen-breakpoint) {
          padding-bottom: 130px;
        }
      }
    }

    > .underlay > .featured-posts {
      @extend .main-section;

      .items {
        @extend .item-grid;
        justify-content: center;
      }

      .item {
        @extend .item-card;
        @extend .post-card;
        @include hoverable-card(4px, 12px, rgba(0, 0, 0, 0.08));

        padding: 32px 30px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);

        .header {
          font-size: 22px;
        }

        .body, .meta {
          font-size: 15px;
        }

        @media screen and (min-width: $bigscreen-breakpoint) {
          box-sizing: border-box;
          flex-basis: calc( 100%/#{$featured-cols-narrow} - #{$gutter} );

          // Hide third element (there’re at most 3)
          &:nth-child(3) {
            opacity: 0;
            display: none;
          }
        }

        @media screen and (min-width: $widescreen-breakpoint) {
          box-sizing: border-box;
          flex-basis: calc( 100%/#{$featured-cols} - #{$gutter} );

          // Show third element
          &:nth-child(3) {
            opacity: 1;
            display: block;
          }
        }
      }
    }
  }

  .layout--spec-index > &,
  .layout--software-index > &,
  .layout--blog-index > &,
  .layout--product > &,
  .layout--post > &,
  .layout--spec > &,
  .layout--project-index > & {
    padding-bottom: 100px;
  }

  .layout--spec-index > &,
  .layout--software-index > & {
    > .item-filter {
      padding: 18px 40px;
      background-color: #F3F3F3;
      align-self: stretch;
      text-align: center;

      ul.tags {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 14px;

        > li {
          display: inline;
          margin: 0;
          padding: 0;

          > * {
            font-weight: 700;
            margin: 0 4px;
            padding: 3px 10px 3px 10px;
            white-space: nowrap;
          }
          > a {
            color: grey;
          }
        }
      }
    }
  }
  // Item filter: color override for selected tags
  > .item-filter ul.tags li > span {
    .layout--software-index > & {
      color: $hub-software--primary-color;
      background-color: rgba($hub-software--primary-color, 0.1);
    }
    .layout--spec-index > & {
      color: $hub-specs--primary-color;
      background-color: rgba($hub-specs--primary-color, 0.1);
    }
  }

  .layout--blog-index > & {
    > .items {
      @extend .item-grid;
      @extend .index-item-grid;

      .item {
        @extend .item-card;
        @extend .post-card;
        @include hoverable-card(4px, 12px, rgba(0, 0, 0, 0.08));

        padding: 32px 30px;

        .header {
          font-size: 22px;
        }
        .body {
          font-size: 15px;
        }

        @media screen and (min-width: $bigscreen-breakpoint) {
          box-sizing: border-box;
          flex-basis: calc( 100%/#{$featured-cols} - #{$gutter} );
          margin-bottom: $gutter;
        }
      }
    }

    > .items.one-row {
      justify-content: center;
    }
  }

  .layout--post > & {
    > article {
      @extend .main-article;

      > header {
        > .title {
          margin-bottom: 14px;
        }
        > .meta {
          @extend .post-meta-row;
          margin-bottom: 36px;
        }
      }
      aside.social-links {
        position: relative;
        top: -10px;
        margin-bottom: 14px;

        @media screen and (min-width: $bigscreen-breakpoint) {
          // "Remove" from the flow, and offset to the left
          $height: 100px;

          height: $height;
          width: 80px;

          margin-bottom: -$height;

          top: 10px;
          left: -140px;

          display: flex;
          flex-flow: column nowrap;
          align-items: flex-start;
        }

        > .ico {
          margin-right: 5px;

          @media screen and (min-width: $bigscreen-breakpoint) {
            margin-right: 0;
            margin-bottom: 5px;
          }

          .fa-layers {
            > .fa-circle {
              color: $primary-color;
            }
            > :not(.fa-circle) {
              color: white;
            }
          }
        }
      }
    }
  }
}


/* Hub */

.site--hub {

  &.layout--home > main {
    > .underlay > .featured-projects {
      @extend .main-section;

      > .title:after {
        border-bottom-color: rgba($primary-dark-color, 0.12);
      }

      .items {
        @extend .item-grid;
        justify-content: center;
      }

      .item {
        @extend .item-card;
        @include hoverable-card(4px, 16px, rgba(0, 0, 0, 0.12));

        padding: 40px 32px;
        text-align: center;

        .logo {
          display: inline-block;
          height: 80px;
          width: 80px;

          // Without this, some items’ logos don’t conform to above dimensions
          overflow: hidden;
        }

        header > .title {
          font-size: 24px;
          margin: 0;
        }

        .body {
          font-size: 16px;
          padding-bottom: 20px;
          overflow: hidden;
          text-overflow: ellipsis;

          @media screen and (min-width: $bigscreen-breakpoint) {
            height: 100px;
            padding-bottom: 0;
          }
        }

        .cta-view-project {
          text-align: center;

          .button {
            display: inline-block;
            padding: 8px 18px;
            border-radius: 4px;
            font-size: 16px;
            font-weight: 700;
            color: white;
            background-color: $accent-color;
          }
        }

        @media screen and (min-width: $bigscreen-breakpoint) {
          box-sizing: border-box;
          flex-basis: calc( 100%/#{$featured-cols} - #{$gutter} );
        }
      }
    }
    > .other-projects {
      @extend .main-section;
      @extend .with-symbol-background;

      .items {
        @extend .item-grid;
      }

      > .title:after {
        border-bottom-color: rgba($primary-color, 0.12);
      }
    }
  }

  &.layout--software-index > main,
  &.layout--spec-index > main {
    > .items {
      @extend .item-grid;
      @extend .index-item-grid;

      .item {
        @extend .item-card;
        @include hoverable-card(4px, 12px, rgba(0, 0, 0, 0.08));

        padding: 16px 30px 22px 30px;

        .header {
          font-size: 18px;
        }
        .body {
          font-size: 15px;
        }

        @media screen and (min-width: $bigscreen-breakpoint) {
          box-sizing: border-box;
          flex-basis: calc( 100%/#{$grid-cols} - #{$gutter} );
          margin-bottom: $gutter;
        }
      }
    }
  }

  &.layout--project-index > main {
    .items {
      @extend .item-grid;
      @extend .index-item-grid;
    }
  }

  &.layout--project-index > main,
  &.layout--blog-index > main,
  &.layout--software-index > main,
  &.layout--spec-index > main {
    > .items {
      @extend .with-symbol-background;
    }
  }

  &.layout--home > main > .other-projects,
  &.layout--project-index > main {
    .items.one-row {
      justify-content: center;
    }

    .item {
      @extend .item-card;
      @include hoverable-card(2px, 10px, rgba(desaturate($primary-color, 50), 0.08));

      padding: 32px 30px;
      text-align: center;

      .logo {
        display: inline-block;
        height: 60px;
        width: 60px;
      }

      header > .title {
        font-size: 18px;
        margin: 0;
      }

      .body {
        font-size: 15px;
      }

      @media screen and (min-width: $bigscreen-breakpoint) {
        box-sizing: border-box;
        flex-basis: calc( 100%/#{$featured-cols} - #{$gutter} );
      }
    }
  }
}


/* Project */

.site--project {
  &.layout--home > main > .underlay.summary-background {
    padding-top: 20px;

    > svg {
      > polygon {
        fill: #F7F7F7;
      }
      bottom: 0;
      width: 100%;
      height: 35vw;
    }

    .summary {
      font-size: 18px;

      ul.you-can {
        padding: 0;
        display: flex;
        flex-flow: column nowrap;
        li {
          flex: 1 1 auto;
          &:first-child {
            margin-right: 40px;
          }
        }
      }
      .cta {
        margin-top: 30px;
        .button {
          @include cta-button($primary-dark-color, white);
          border-radius: 25px;
          border: 1px solid $primary-color;
        }
      }
      p:first-child:first-letter {
        color: $accent-color;
        float: left;
        font-size: 75px;
        line-height: 60px;
        padding-right: 8px;
        margin-left: -5px;
      }
      @media screen and (min-width: $bigscreen-breakpoint) {
        p:first-child {
          padding-right: 20vw;
        }
        ul.you-can {
          flex-flow: row nowrap;
        }
      }
    }
  }

  &.layout--home > main > .underlay > .software,
  &.layout--home > main > .specs,
  &.layout--software-index > main,
  &.layout--spec-index > main {
    > .items {
      > hr {
        // Separates featured items, listed initially, from the rest
        width: 10em;
        margin: 40px auto;
        border-style: solid;
        border-color: $primary-color;
        background-color: $primary-color;
        color: $primary-color;
        box-shadow: 2px 2px 0 3px $primary-color;
      }

      .item {
        @extend .item-card;
        @include hoverable-card(2px, 10px, rgba(desaturate($primary-color, 50), 0.08));

        padding: 30px 32px;
        text-align: left;

        header > .title {
          margin: 0;
          font-size: 20px;
        }
        .body {
          font-size: 16px;
        }
      }
    }
  }

  &.layout--home > main > .underlay > .software,
  &.layout--software-index > main {
    > .items {
      .item {
        $logo-space: 132px;
        $logo-side: 48px;
        .logo-container {
          .logo > :only-child {
            width: $logo-side;
            height: $logo-side;
          }
        }

        @media screen and (min-width: $bigscreen-breakpoint) {
          padding-left: $logo-space;

          .logo-container {
            float: left;
            margin-left: -$logo-space;
            padding: 8px (($logo-space - $logo-side) / 2);
          }
        }
      }
    }
  }

  &.layout--home > main > .underlay > .software,
  &.layout--home > main > .specs {
    @extend .main-section;

    .items {
      @extend .item-grid;
      justify-content: center;

      > .item {
        @media screen and (min-width: $bigscreen-breakpoint) {
          box-sizing: border-box;
          flex-basis: calc( 100%/#{$featured-cols-narrow} - #{$gutter} );

          // Hide third element (there’re at most 3)
          &:nth-child(3) {
            opacity: 0;
            display: none;
          }
        }

        @media screen and (min-width: $widescreen-breakpoint) {
          box-sizing: border-box;
          flex-basis: calc( 100%/#{$featured-cols} - #{$gutter} );

          // Show third element
          &:nth-child(3) {
            opacity: 1;
            display: block;
          }
        }
      }
    }
  }

  &.layout--software-index > main,
  &.layout--spec-index > main {
    > .items {
      @extend .index-item-grid;
    }
  }

  &.layout--spec > main > article {
    @extend .main-article;
  }
  &.layout--spec > main,
  &.layout--product > main {
    > .documentation:only-child {
      @include docs-page($primary-dark-color);
    }
  }
}
