body > .underlay > header,
body > .underlay > footer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  @media screen and (min-width: $bigscreen-breakpoint) {
    flex-flow: row nowrap;
  }

  .site-logo {
    margin: 0;
    padding: 0;
    margin-right: 100px;

    line-height: .5;
    font-size: 24px;

    color: white;
    font-weight: 600;

    :link, :hover, :visited {
      color: inherit;
    }

    svg {
      height: 30px;
      vertical-align: middle;
    }
  }
  .social-links {
    > a {
      margin-left: 14px;
      font-size: 18px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.parent-hub-plug {
  .logo {
    display: block;
  }
  body.layout-home > .underlay.header > .hero > .text > & {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
  }
  body > .underlay.footer & {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-right: 50px;
    line-height: .5;
    opacity: 0.8;
    color: white;

    .label {
      margin-right: 20px;
      font-weight: 500;
    }
  }
}

.underlay.header {
  body > & {
    background: $header-background;

    > .hero {
      padding-top: 20px;

      @media screen and (min-width: $widescreen-breakpoint) {
        padding-top: 55px;
        padding-bottom: 30px;
      }

      color: white;

      > .text {
        position: relative;
        padding-bottom: 80px;

        > .title {
          font-size: 44px;
          font-weight: 700;
          margin: 0 0 20px 0;
          line-height: 1.2;
        }
        > .desc {
          font-size: 20px;
          margin: 0;
        }
        > .cta {  // Call to action.
          margin-top: 50px;

          .button {
            font-weight: 800;
            font-size: 18px;
            padding: 12px 18px;

            .icon {
              margin-right: 10px;
              font-weight: 400;
              position: relative;
              top: 2px;
              font-size: 120%;
            }

            &:first-child {
              margin-right: 10px;

              &, &:link, &:visited {
                color: white;
                background-color: rgba(white, 0.32);
              }
            }
            &:last-child {
              margin-right: 0;

              &, &:link, &:visited {
                color: $primary-dark-color;
                background-color: white;
              }
            }

            transition: box-shadow .2s ease-out;
            &:hover {
              box-shadow: 0 0 0 4px rgba(black, 0.2);
            }
          }
        }
      }
    }
  }
  body.hub.layout-software-index > & {
    background: $hub-software--hero-background;
  }
  body.hub.layout-spec-index > & {
    background: $hub-specs--hero-background;
  }
  body.layout-home > & {
    background: $superhero-background;

    > .hero {
      > .text {
        padding-bottom: 95px;
        @media screen and (min-width: $bigscreen-breakpoint) {
          padding-bottom: 130px;
        }
      }
    }
  }

  body.hub > & {
    > .hero { text-align: center; }
  }

  body.hub.layout-home > & {
    > .hero {
      text-align: left;

      .illustration {
        display: none;
      }

      @media screen and (min-width: $bigscreen-breakpoint) {
        display: flex;
        flex-flow: row nowrap;

        .text {
          width: 550px;
        }
        .illustration {
          flex: 1;
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
        }
      }
    }
  }

  body.project > & {
    > .hero {
      text-align: center;

      > .text {
        > .desc {
          @media screen and (min-width: $bigscreen-breakpoint) {
            margin: 0 7em;
          }
        }
      }
    }
  }

  body.project.layout-home > & {
    > .hero {
      padding-bottom: 30px;
      @media screen and (min-width: $widescreen-breakpoint) {
        padding-bottom: 40px;
      }
    }
  }
}

body > .underlay.footer {
  background: #2E333B;
}

body > .underlay > header {
  padding-top: 26px;
  padding-bottom: 26px;

  color: white;

  > nav {
    flex: 1;

    > * {
      display: inline-block;
      font-weight: 600;
      margin-right: 20px;
      padding: 6px 10px 6px 10px;
      white-space: nowrap;
    }
  }

  > nav, > .social-links {
    color: white;

    span {
      background-color: rgba(black, 0.1);
    }
    a:link, a:hover, a:visited {
      color: white;
    }
  }
}

body > .underlay > footer {
  padding-top: 50px;
  padding-bottom: 50px;

  color: #909B9C;

  a:link, a:visited, a:hover {
    color: #909B9C;
  }

  .legal {
    font-size: 14px;

    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    .copyright {
      margin-right: 40px;
      white-space: nowrap;
    }
    nav {
      > * {
        margin-right: 40px;
      }
    }
  }
}
