<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="{{ "/assets/favicon.png" | relative_url }}" rel="shortcut icon" type="image/x-icon">
  <link href="{{ "/assets/webclip.png" | relative_url }}" rel="apple-touch-icon">

  <link id="themeCSS" rel="stylesheet" href="{{ "assets/css/style.css" | relative_url }}">
  <script defer src="https://pro.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-E5SpgaZcbSJx0Iabb3Jr2AfTRiFnrdOw1mhO19DzzrT9L+wCpDyHUG2q07aQdO6E" crossorigin="anonymous"></script>

  {% if site.algolia_search %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css">
  {% endif %}

  {% if page.extra_stylesheets %}
    {% for ss in page.extra_stylesheets %}
      <link rel="stylesheet" href="{{ ss.href }}" integrity="{{ ss.integrity }}" crossorigin="{{ ss.crossorigin }}">
    {% endfor %}
  {% endif %}

  {% if page.extra_scripts %}
    {% for sc in page.extra_scripts %}
      <script src="{{ sc.src }}" integrity="{{ sc.integrity }}" crossorigin="{{ sc.crossorigin }}"></script>
    {% endfor %}
  {% endif %}

  {% seo %}
</head>

{% assign num_projects = site.projects | size %}
<body class="
    {{ page.html-class }} {{ layout.html-class }}
    {% if num_projects > 0 %}site--hub{% else %}site--project{% endif %}
    {% if page.layout %}layout--{{ page.layout }}{% endif %}">
  <div class="underlay header">
    <header>
      <h1 class="site-logo"><a href="/">{% include logo.html %}</a></h1>
      <nav class="top-menu">
        {% include nav-links.html %}
      </nav>

      {% include social-links.html %}

      <button class="hamburger" aria-expanded="false" id="hamburgerButton">
        <i class="fa fa-bars"></i>
      </button>

      <div class="hamburger-menu" id="hamburgerMenu" aria-hidden="true">
        <div class="site-logo-container">
          <h1 class="site-logo"><a href="/">{% include logo.html %}</a></h1>
        </div>

        {% include social-links.html %}
      </div>
    </header>

    {% if page.hero_include %}
      <div class="hero">{% include {{ page.hero_include }} %}</div>
    {% endif %}
  </div>

  <main>
    {{ content }}
  </main>

  <div class="underlay footer">
    <footer>
      {% if site.is_hub %}
        <div class="site-logo">{% include logo.html %}</div>
      {% else %}
        <div class="parent-hub-plug">
          <span class="label">{{ site.title }} is</span>
          <a class="logo" role="presentation" href="{{ site.parent_hub.home_url }}">
            {% include parent-hub/assets/symbol.svg %}&nbsp;<span class="title">{% include parent-hub/title.html %}</span>
          </a>
        </div>
      {% endif %}

      <div class="legal">{% include legal.html %}</div>

      {% include social-links.html %}
    </footer>
  </div>

  {% if site.algolia_search %}
    <script src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>

    {% comment %}
    This would break a strict CSP, but Jekyll refuses to Liquid-process JS files
    without also adding HTML wrapping. Eek.
    {% endcomment %}
    <script>
      window.initAlgolia = function () {
        docsearch({ 
          apiKey: '{{ site.algolia_search.api_key }}', 
          indexName: '{{ site.algolia_search.index_name }}', 
          inputSelector: 'input[type=search]', 
          debug: false,
        }); 
      };
    </script> 
  {% endif %}

  <script src="{{ "assets/js/headroom.min.js" | relative_url }}"></script>
  <script src="{{ "assets/js/opf.js" | relative_url }}"></script>

  {% include scripts.html %}
</body>
