<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="{{ "assets/css/style.css" | relative_url }}">

  <script defer src="{{ "assets/fa/fa-brands.js" | relative_url }}"></script>
  <script defer src="{{ "assets/fa/fa-solid.js" | relative_url }}"></script>
  <script src="{{ "assets/fa/fontawesome.js" | relative_url }}"></script>

  {% seo %}
</head>

{% assign num_projects = site.projects | size %}
<body class="
    {% if num_projects > 0 %}hub{% else %}project{% endif %}
    {% if page.layout %}layout-{{ page.layout }}{% endif %}">
  <div class="underlay header" role="presentation">
    <header>
      <h1 class="site-logo"><a href="/">{% include logo.html %}</a></h1>
      <nav>
        {% include nav-page-link.html url="/" title="Home" %}
        {% for p in site.pages %}
          {% comment %}
            For project sites, exclude all links except for the blog.
          {% endcomment %}
          {% if num_projects > 0 or p.url contains "blog" %}
            {% include nav-page-link.html url=p.url title=p.title %}
          {% endif %}
        {% endfor %}
      </nav>
      {% include social-links.html %}
    </header>

    {% if page.hero_include %}
      <div class="hero" role="presentation">{% include {{ page.hero_include }} %}</div>
    {% endif %}

    {% comment %}
    {% if page.layout == "home" %}
      <div class="hero superhero" role="presentation">{% include home-hero.html %}</div>
    {% endif %}
    {% endcomment %}
  </div>

  <main>
    {{ content }}
  </main>

  <div class="underlay footer" role="presentation">
    <footer>
      <div class="site-logo">{% include logo.html %}</div>
      <div class="legal">{% include legal.html %}</div>
      {% include social-links.html %}
    </footer>
  </div>
</body>
