---
layout: default
---

{% assign title = page.title | default: layout.title %}
{% assign prominent_title = page.article_header_title | default: layout.article_header_title %}
{% assign nav = page.navigation | default: layout.navigation %}
{% assign base_url = nav.base_url | default: page.base_url | default: layout.base_url | default: "" %}
{% assign num_top_nav_items = nav.items | size %}

<header class="documentation-header {% if num_top_nav_items > 0 %} has-nav {% endif %}">
  {% if title %}
    <span class="section-title">
      {{ title|replace: " ", "&nbsp;" }}
    </span>
  {% endif %}

  <div class="nav-header">
    <h3 class="title">
      {% capture docs_nav_title %}
        {{ layout.docs_title }}{% if selected_section %}: {{ selected_section.title }}{% endif %}
      {% endcapture %}

      {% if num_top_nav_items > 0 %}
        <a href="javascript: void 0;">{{ docs_nav_title }}</a>
      {% else %}
        <span>{{ docs_nav_title }}</span>
      {% endif %}
    </h3>

    {% if num_top_nav_items > 0 %}
      <span class="nav-toggle-icon">
        <i class="open far fa-ellipsis-v"></i>
        <i class="close far fa-times"></i>
      </span>
    {% endif %}
  </div>
</header>


<section class="documentation {% if num_top_nav_items > 0 %}has-nav{% endif %}">
  <nav class="docs-nav">
    <ul class="nav-items">
      {% for item in nav.items %}
        {% include _nav-item.html item=item base_url=base_url %}
      {% endfor %}
    </ul>
  </nav>

  <article>
    <header>
      <div class="title">
        <h1 class="text">{{ prominent_title | default: title }}</h1>
      </div>

      <div>
        <div class="lead">{{ page.description }}</div>
      </div>

      {% if selected_item.items %}
        <nav class="subitems">
          <h2>Contents</h2>

          <ul>
            {% for item in selected_item.items %}
              {% include _nav-item.html item=item base_url=base_url %}
            {% endfor %}
          </ul>
        </nav>
      {% endif %}
    </header>

    <div class="body">
      {{ content }}
    </div>

  </article>
</section>

<script src="{{ "/assets/js/anchor-scroll.js" | relative_url }}"></script>
<script src="{{ "/assets/js/adoc-toc.js" | relative_url }}"></script>
