---
layout: default
---

{% include index-page-item-filter.html url_tag_prefix="/software/" items=page.items tag=page.tag %}

<section class="items">
  {% include symbol.svg %}

  {% for product in page.items %}
    {% assign project_name = product.url | split: "/" | slice: 2 | first %}
    {% assign project_index_path = "_projects/" | append: project_name | append: "/index.md" %}
    {% assign project = site.projects | where: "path", project_index_path | first %}

    {% include software-card-hub.html item=product project_name=project_name project_data=project %}
  {% endfor %}
</section>
