---
layout: default
---

{% if site.is_hub %}
  {% include index-page-item-filter.html url_tag_prefix="/software/" items=site.all_software tag=page.tag %}
{% endif %}

<section class="items">
  {% if site.is_hub %}
    {% include assets/symbol.svg %}
    {% assign items = page.items | default: site.all_software %}
    {% for product in items %}
      {% include software-card-hub.html item=product item_type='software' %}
    {% endfor %}
  {% else %}
    {% if site.num_featured_software > 0 %}
      {% for product in site.featured_software %}
        {% include software-card-hub.html item=product item_type='software' %}
      {% endfor %}
      <hr>
    {% endif %}
    {% for product in site.non_featured_software %}
      {% include software-card-hub.html item=product item_type='software' %}
    {% endfor %}
  {% endif %}
</section>
