---
layout: default
---

{% include index-page-item-filter.html url_tag_prefix="/specs/" tag_namespaces="specs" items=site.prexian.all_specs tag=page.tag %}

<section class="items">
  {% if site.prexian.is_hub %}
    {% include assets/symbol.svg %}
  {% endif %}

  {% if page.tag and page.items %}
    {% for item in page.items %}
      {% include software-card-hub.html item=item item_type='specs' %}
    {% endfor %}
  {% elsif site.prexian.is_hub %}
    {% for item in site.prexian.all_specs %}
      {% include software-card-hub.html item=item item_type='specs' %}
    {% endfor %}
  {% else %}
    {% if site.prexian.num_featured_specs > 0 %}
      {% for item in site.prexian.featured_specs %}
        {% include software-card-hub.html item=item item_type='specs' %}
      {% endfor %}
      <hr>
    {% endif %}
    {% for item in site.prexian.non_featured_specs %}
      {% include software-card-hub.html item=item item_type='specs' %}
    {% endfor %}
  {% endif %}
</section>
